<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <!-- Render the HTML form passed from the route -->
  <%- checkoutForm %>
</body>
</html>
